[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
ipykernel = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
sql = "*"
ipython-sql = "*"

[dev-packages]

[requires]
python_version = "3.9"
